
@{
    ViewData["Title"] = "BillPay";
}
@model BillPayViewModel
<form asp-controller="Customer" asp-action="ScheduleBillPay">
    @*Transaction Type*@
    @{
        Account account = Model.Account;
        List<Payee> Payees = Model.Payees;
    }
    <h1>BillPay</h1>

    @*Payee id*@
    <div class="form-group row">
        <label for="toPayee" class="col-sm-2 col-form-label"> Account </label>
        <div class="col-sm-10">
            <div class="form-group">
                <select class="form-control" id="payeeID" name="payeeID">
                    <option value="" disabled selected>Select your option</option>
                    @{
                        foreach (Payee payee in Payees)
                        {
                            <option value=@payee.PayeeID> @Html.DisplayFor(x => payee.PayeeID + " " + payee.PayeeName) </option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>

    @*Amount*@
    <div class="form-group row">
        <label for="amount" class="col-sm-2 col-form-label">Amount</label>
        <div class="col-sm-10">
            <div class="form-group">
                <input type="number" class="form-control" id="amount" name="amount">
            </div>
        </div>
    </div>

    @*DateTime picker*@
    <div class="control-group">
        <label class="control-label">Schedule date</label>
        <div class="controls input-append date form_datetime" data-date="2021-01-01T00:00:00Z" data-date-format="dd MM yyyy - HH:mm:ss tt" data-link-field="date">
            <input size="16" type="text" value="" readonly>
            <span class="add-on"><i class="icon-remove"></i></span>
            <span class="add-on"><i class="icon-th"></i></span>
        </div>
        <input type="hidden" id="scheduleDate" name="scheduleDate" value="" /><br />
    </div>

    @*Period*@
    <div class="form-group row">
        <label for="toPayee" class="col-sm-2 col-form-label"> Account </label>
        <div class="col-sm-10">
            <div class="form-group">
                <select class="form-control" id="toPayee" name="toPayee">
                    <option value="" disabled selected>Select your option</option>
                    <option value=@Period.Monthly>@Html.DisplayFor(x => "Monthly")</option>
                    <option value=@Period.Quarterly>@Html.DisplayFor(x => "Quarterly")</option>
                    <option value=@Period.OnceOff>@Html.DisplayFor(x => "OnceOff")</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>

