@{
    ViewData["Title"] = "Home";
}

<div>
    <h1 class=" text-center display-4"> Most Common Bank of Australia</h1>
    
    <div class="text-center img-fluid">
        <img src="~/img/bank.jpg" alt="bank"/>
    </div>
</div>
